*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 允许用户缩放改变字体的大小配置 */
  /* 用户可能缩放字体的大小 因此使用百分比字体 */
  font-size: 62.5%;
  box-sizing: border-box;
}

/* transform filter 等其他属性会创建新的堆叠上下文 因此z-index可能会失效 */

body {
  /* 一般字体都设置在body下面 */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(116, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  /* cover 保证填充完容器 */
  /* container 尽可能的缩放背景并保持图像的宽高比例（图像不会被压缩 */
  /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/background-size#contain */
  background-size: cover;
  /* 无论容器如何变化 图片顶部的位置始终适配 */
  background-position: top;
  position: relative;
  /* x y x y */
  clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo-box img {
  height: 3.5rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin: auto;
  /* 指定当元素背面朝向观察者时是否可见 如果有动画抖动的情况 设置hidden 可以有效避免 */
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  font-size: 6rem;
  letter-spacing: 3.5rem;
  font-weight: 400;
  animation-name: moveInLeft;
  /* 动画持续时间 */
  animation-duration: 1s;
  /* 动画的延迟时间 */
  /* animation-delay: 3s; */
  /* ease-in 动画一开始缓慢 后面随着时间的推移逐步加快 */
  /* animation-timing-function: ease-in; */
  /* 与ease-out的情况相反 */
  animation-timing-function: ease-out;
}

.heading-primary--sub {
  font-size: 2rem;
  letter-spacing: 1.7rem;
  font-weight: 700;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.header__text-box {
  position: absolute;
  /* left top 与父元素有关 而transform与元素自身有关GO */
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* link伪类用于选中元素当中的链接 它会选中当前所有尚未访问的链接 */
/* 需要按顺序 */
/* :link — :visited — :hover — :active */
.btn {
  position: relative;
}
.btn:link,
.btn:visited {
  /* 如果是行内元素 设置了padding-top padding-bottom 有效果 但是不会影响布局 */
  display: inline-block;
  padding: 1.5rem 4rem;
  text-decoration: none;
  border-radius: 10rem;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  /* 这个状态是依据初始值的 不是hover的值的 只不过点击的时候是在hover上 相当于 -3px => -1px */
  transform: translateY(-1px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  /* transform 变换的时候会让 z-index “临时失效” */
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  background-color: #fff;
  transition: all 0.3s;
  opacity: 1;
}

.btn:hover::after {
  transform: scale(1.3, 1.6);
  opacity: 0;
}

.btn--white {
  background-color: #fff;
}

.btn--animated {
  animation: moveInUp 1s ease-out 0.75s;
  /* 设置 CSS 动画在执行之前和之后如何将样式应用于其目标 */
  animation-fill-mode: backwards;
}
