$primary-green-1: rgba(116, 213, 111, 0.8);
$primary-green-2: rgba(40, 180, 131, 0.8);

$primary-white-1: rgb(255, 255, 255);

$primary-block-1: rgba(0, 0, 0);

$primary-box-shadow-1: rgba(0, 0, 0, 0.2);

$primary-color-1: rgb(119, 119, 119);


$default-font-size: 1.6rem;