.heading-primary {
  color: $primary-white-1;
  text-transform: uppercase;
  margin: auto;
  /* 指定当元素背面朝向观察者时是否可见 如果有动画抖动的情况 设置hidden 可以有效避免 */
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation-name: moveInLeft;
    /* 动画持续时间 */
    animation-duration: 1s;
    /* 动画的延迟时间 */
    /* animation-delay: 3s; */
    /* ease-in 动画一开始缓慢 后面随着时间的推移逐步加快 */
    /* animation-timing-function: ease-in; */
    /* 与ease-out的情况相反 */
    animation-timing-function: ease-out;
  }

  &--sub {
    font-size: 2rem;
    letter-spacing: 1.7rem;
    font-weight: 700;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.section-about {
  background-color: $primary-white-1;
  padding: 5rem 0;

  &__content {
    padding-left: 4rem;
  }
}

.heading-subtitle {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 3px;
  margin-bottom: 8rem;
  background-image: linear-gradient(
    to right,
    $primary-green-1,
    $primary-green-2
  );
  background-clip: text;
  // 裁剪背景为文本的形势
  -webkit-background-clip: text;
  // 文字的颜色会在裁剪的文本颜色之上 这里设置transparent
  color: transparent;

  transition: all 0.3s;
  &:hover {
    // skewY 沿着y轴倾斜 2deg
    transform: skewY(2deg) skewX(-15deg) scale(1.2);
    text-shadow: 0.5rem 0.5rem 1rem $primary-box-shadow-1;
  }
}

.heading-tertiary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  line-height: 1.5;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
